@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');


body {
    background-image: url("https://media.giphy.com/media/26BRqPg05olzXG1bi/source.gif");
    background-size: cover; 
    color: #fff; 
    font-family: 'Righteous', cursive;
}

button {
    width: 200px;
    height: 100px; 
    border: 10px solid red; 
}

h4 {
    font-size: 20px; 
}

input[type="radio"] {
    transform: scale(1.5);
}